<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Esdras Aguiar</h2>
            <h4>teste_usuario@email.com</h4>
        </div>
        <img src="/assets/user-icon-vector.jpg" alt="Esdras Aguiar">
    </div>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
   

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>phone</mat-icon>
        Leads
    </a>
    
   
</mat-nav-list>

